$primary   : #1976D2;
$secondary : #26A69A;

$dark      : #1D1D1D;
$dark-page : #121212;
$main-bg   : #ffffff;

$positive  : #21BA45;
$negative  : #C10015;
$warning   : #F2C037;

$font      : #242836;
$dark-font : #ffffff;